$header-side-padding: calc((100% - 1280px) / 2);

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: $disabled-color;
  padding: $gap-m $gap-m $gap-s;
  box-sizing: border-box;

  &__logo-search-container {
    display: flex;
    align-items: center;
    gap: $gap-m;
  }

  &__search {
    flex: 1;
  }

  @media screen and (min-width: 1281px) {
    padding-left: $header-side-padding;
    padding-right: $header-side-padding;
  }

  @media screen and (max-width: $mobile-size) {
    &__logo-search-container {
      gap: $gap-s;
    }
  }
}
