.news {
  background: $color-gradient;
  border-radius: $border-radius-l;
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(
    auto-fit,
    minmax(400px, 1fr)
  );
  gap: 10px;

  &__article {
    background: $white-gradient;
    box-shadow: $color-shadow;
    border-radius: $border-radius-l;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
  }

  &__contant {
    width: 100%;
    height: 200px;
  }

  &__source {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  &__source-img {
    width: 20px;
    height: 20px;
    object-fit: contain;
    border-radius: $border-radius-s;
  }

  &__source-text {
    margin: 0;
  }

  &__title {
    margin: 0;
    font: {
      style: normal;
      weight: 700;
      size: 16px;
    }
    line-height: 1.2;
    color: $dark-color;
  }

  &__img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    background: $disabled-color;
    border-radius: $border-radius-s;
  }

  &__description {
    font: {
      style: normal;
      weight: 400;
      size: 16px;
    }
    line-height: 1.2;
    margin: 0;
    color: $dark-color;
  }

  @media screen and (max-width: $mobile-size) {
    grid-template-columns: repeat(auto-fit, 100%);
  }
}
